@theme inline {
  --font-dancing-script: var(--font-dancing-script);
  --font-lora: var(--font-lora);
  --font-lobster: var(--font-lobster);
  --font-titillium-web: var(--font-titillium-web);
  --font-source-serif-4: var(--font-source-serif-4);
}
